/* src/HelpButton.css */
.help-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: white;
  color: white;
  cursor: pointer;
  z-index: 1000; /* Ensure the button is above other content */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styles for the help menu */
/* .help-menu {
  margin: 0;
  /* position: relative; */
  /* bottom: 20px;
  right: 20px;
  width: 80px;  */
  /* background-color: white;
  border: 1px solid #ccc;
  padding: 0px;
  z-index: 1050;/* /* Ensure the menu is above other content but below the button */
  /* border-radius: 100px;  */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
  */


/* .help-menu{
  margin:0; 
} */

.help-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.help-menu li {
  margin: 10px 0;
}

.help-menu a {
  text-decoration: none;
  color: #333;
}

.help-menu a:hover {
  text-decoration: underline;
}

.filler{
  margin: 0;
}

.help-menu{
  visibility: hidden;
  margin: 0;
  position: fixed;
  bottom: 60px;
  right: 20px;
  width: 80px; 
  background-color: white;
  border: 1px solid #ccc;
  padding: 0px;
  z-index: 1050;/* Ensure the menu is above other content but below the button */
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

